@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    background-image: linear-gradient(45deg, #4919a3, #fff);
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

h1 {
    font-size: 2em;
    margin-bottom: 2rem;
}

.header {
    position: absolute;
    padding: 1rem;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;

}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1.5rem;
}

input {
    width: 90%;
    padding: .5rem;
}

.botao {
    margin: 1rem 0 2REM 0;
    padding: .8rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6220b8;
    color: #fff;
    
}

.botao:hover {
    background-color: #808080;
    color: #fff;
}